<div class="center jumbotron">
  <h1>CSET Multi-tool</h1>
  
  <h2>
    Home page for the CSET Multi-tool application.
  </h2>
  
  <%= link_to "Sign up", add_student_path, class: "btn btn-lg btn-primary" %>
</div>
