<div class="role_options">
  <h3>Checkout</h3>
  <div class="links list-group">
    <%= link_to "Timesheets",   timesheets_path(@user, role_id: 1), class: "list-group-item btn btn-primary link-item" %>
    <%= link_to "Checkout Log", '#', class: "list-group-item btn btn-primary link-item" %>
  </div>
</div>