<div class="role_options">
  <h3>Supervisor</h3>
  <div class="links list-group">
    <%= link_to "Add Student", new_relationship_path, class: "list-group-item btn btn-primary link-item" %>
    <%= link_to "View Your Workers", relationships_path, class: "list-group-item btn btn-primary link-item" %>
  </div>
</div>