<div class="role_options">
  <h3>TA/Grader</h3>
  <div class="links list-group">
    <%= link_to "Timesheets", timesheets_path(@user, role_id: 2), class: "list-group-item btn btn-primary link-item" %>
  </div>
</div>