@import "bootstrap-sprockets";
@import "bootstrap";

// Variables
$gray-medium-light: #eaeaea;

@mixin box_sizing
{
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

/*** universal ***/

body 
{
    padding-top: 60px;
    //background-color: #000066;
}

.body-container
{
    margin-top: 50px;
    border: 5px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.header-container
{
    background: #FFFF00;
}

section 
{
    overflow: auto;
}

textarea 
{
    resize: vertical;
}

.center 
{
    text-align: center;
  
    h1 
    {
        margin-bottom: 10px;
    }
}


/*** typeography ***/

h1, h2, h3, h4, h5, h6 
{
    line-height: 1;
}

h1 
{
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 
{
    font-size: 1.5em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

p 
{
    font-size: 1.1em;
    line-height: 1.7em;
}


/*** header ***/

#logo 
{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    letter-spacing: 1px;
    padding-top: 9px;
    font-weight: bold;
    
    &:hover 
    {
        color: white;
        text-decoration: underline;
    }
}

/*** footer ***/

footer 
{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $gray-light;
    
    a 
    {
        color: $gray;
        
        &:hover 
        {
            color: $gray-darker;
        }
    }
    
    small 
    {
        float: left;
    }
    
    ul 
    {
        float: right;
        list-style: none;
    
        li 
        {
            float: left;
            margin-left: 15px;
        }
    }
}

/*** miscellaneous ***/

.debug_dump
{
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

/*** sidebar ***/

aside 
{
    section.user_info 
    {
        margin-top: 20px;
    }
    
    section 
    {
        padding: 10px 0;
        margin-top: 20px;
        
        &:first-child 
        {
            border: 0;
            padding-top: 0;
        }
        
        span 
        {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        
        h1 
        {
            font-size: 35px;
            text-align: center;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

/*** forms ***/

input, textarea, select, .uneditable-input 
{
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input 
{
    height: auto !important;
}

#error_explanation
{
    color: red;
    
    ul
    {
        color:red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors
{
    @extend .has-error;
    
    .form-control
    {
        color: $state-danger-text;
    }
}

.checkbox 
{
    margin-top: -10px;
    margin-bottom: 10px;
    
    span 
    {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me 
{
    width: auto;
    margin-left: 0;
}



.role_box
{
    margin: 40px auto;
    width: 300px;
    min-height: 100px;
    padding: 10px;
    padding-top: 2px;
    float: center;
    position:relative;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius:20px;
    background: $gray-medium-light;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.role_options
{
    margin: 40px auto;
    width: 300px;
    min-height: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    position:relative;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius:20px;
    background: $gray-medium-light;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    
    h3
    {
        text-align: center;
    }
}

#user_role_attributes_tech, #user_role_attributes_checkout, #user_role_attributes_ta_grader
{
    // Checkbox scaling
    -ms-transform: scale(1.25);     /* IE */
    -moz-transform: scale(1.25);    /* FF */
    -webkit-transform: scale(1.25); /* Safari and Chrome */
    -o-transform: scale(1.25);      /* Opera */
    padding: 10px;
    
    // Position
    width: auto;
    margin-left: 0;
}

.list-group
{
    padding-right: 10px;
    margin: 2px;
    list-style-type: none;
}

a.list-group-item
{
    padding-bottom: 10px;
    margin: 4px;
    background-color: #93d1e6;
    
    &:hover
    {
        background: #49bce3;
    }
}

.timesheets
{
    list-style-type: none;
}

.timesheet-button
{
    margin: 40px auto;
    width: 200px;
    min-height: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    position:relative;
}

.clk-btn
{
    margin: 10px;
    margin-bottom: 20px;
    width: 100px;
}

th, td
{
    font-size: 16px;
}